<div class="media-body">
	  <% form_tag ideas_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>

    <h4 class="media-heading"><%= link_to "#{idea.name}", idea %></h4>
    <p><%= truncate(idea.description, :ommision => "... Read More", :length => 80) %></p>
</div>

	<% if current_user %>
		<button type="button" class="btn btn-warning btn-sm"><%= link_to "Learn more...", idea %></button>
	<% else %>
		<%= "You need to register or log_in to view the whole idea"%>
		<%= link_to 'Registration', registration_path, class: "btn btn-primary" %> |
		<%= link_to 'Login', sessions_login_path, class: "btn btn-primary" %> 
	<% end %>
<hr>


  