<div class="row">
  <div class="row-same-height">
    <div class="col-xs-2 col-xs-height"><%= render 'layouts/navbar' %></div>

        <div class="col-xs-10 col-xs-height">
          <p id="notice"><%= notice %></p>


<div class="panel" style="background: rgba(128,128,128,0.3); margin-right:30px; border: 1px solid #989898; border-radius: 8px;">
  <div class="panel-heading">
<div class="media-body">
    <h4 class="media-heading">

          <div class="hero-unit">
            <table>
              <tr>    
                <td><%= image_tag avatar_url(@idea.user), class: 'circular' %></td>
                <td><h2><%= "#{@idea.name}" %></h2></td>


              </tr>
            </table>
</h4></div></div>

            <div class="panel-footer" style="background: rgba(255,255,255,0.5);">

                <p style="font-size:130%;"><%= @idea.description %></p>
                <p><%= @idea.created_at.strftime('%d/%m/%Y') %></p> 
                <h2>Friends</h2>
               
                  <button class="btn btn-primary" type="button">"Already <span class="badge"><%= @user.friendships.count.to_i%></span> friends in the project"</button>
                
              <hr>
            </div>   
          </div>
          <hr>

          <div id="comment">
            <div id="com-desc"><p style="text-indent: 20px; width: 550px; font-size:150%;">In your comments to the idea please note your contact information in order that idea creator get in touch with you upon deciding to add you to the team list. Please do not make any useless comments - we are focused on real cooperatoin. Save other people's time. Youaare always free to leave your refferences to the site on th main page.</p></div>
            <%= raw("<h3>Comments</h3>") %>
              <% @idea.comments.each do |comment| %>
                <div class="panel" style="background: rgba(128,128,128,0.2); margin-right:30px; border: 1px solid #989898; border-radius: 8px; width: 500px;">
                  <div class="panel-body">
                    <div id="comments">
                        <%= image_tag avatar_url(comment.user), class: 'circular_min' %>   
                        <strong><%= comment.user.name.capitalize %>:</strong>  
                        <div class="panel-footer" style="background: rgba(255,255,255,0.3); margin-top:10px;">
                        <p style="font-size:100%;"><i><strong> - </strong><%= comment.body %></i></p>
                        <% if @user == current_user %>
                        <%= link_to 'Add a person to project', friendships_path(:friend_id => comment.user.id), :method => :post %>
                        <% end %>
                    </div> 
                  </div>
                  </div>
                </div>    
              <% end %>
           
            <% if current_user %>
              <h3>Add a comment:</h3>
                  <%= simple_form_for [@idea, Comment.new] do |f| %>
                    <p>
                      <%= f.input :body, placeholder: 'New Comment' %>
                      <%= f.hidden_field :idea_id, :value => @idea.id %>
                    </p>
                    <p><h4><%= f.submit "Add Comment", class: "btn btn-primary" %></h4></p>
                  <% end %>
            <% end %>

            <%= link_to 'Back', ideas_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>