<!DOCTYPE html>
<html>
<head>
  <title>HaveAnIdea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= link_to 'На головну', root_path %>
	<%= link_to 'Ругистрация', registration_path %>
	<%= link_to 'Logout', sessions_logout_path %>
	<%= link_to 'Login', sessions_login_path %>
	<%= current_user.name if current_user %>

<%= yield %>

</body>
</html>
