<!DOCTYPE html>
<html>
<head>
  <title>HaveAnIdea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




  <%= render 'layouts/header' %>

	
	<%= current_user.name if current_user %>

<%= render 'layouts/carousel' %>
  


  
<div id="nav">
   <h3>Menu</h3> 
     <ul class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation" class="active"> <%= link_to "My ideas", user_path(current_user.id) if current_user %></li>
         <li role="presentation"><%= link_to 'Main page', root_path %></li>
         <li role="presentation"><%= link_to 'Ideas', ideas_path %></li>
       </ul>

<hr>
      
</div>



<div id="section">
  <%= yield %>
</div>


  

  <%= render 'layouts/footer' %>


</body>
</html>




